<div class="header2">
<%= link_to '書籍情報一覧', books_path%>
<%= link_to '新規書籍登録(手動)', new_book_path %>
<%= link_to '未購入品一覧', search_status_index_path %>
<%= link_to '発注済み書籍一覧', now_order_index_path %>
<%= link_to '書籍検索', searches_path %>
</div>


<h1>未購入品一覧</h1>

<%= render 'books/table', books: @books %>
<br>
<%= link_to 'メールを送信', state_to_ordered_path, method: :put %>

